<div class="loader" *ngIf="isLoading">
  Loading
</div>

<form class="form-rtc rounded" *ngIf="!isLoading">

    <div class="form-group">
      <p id="usrName"> Welcome, {{username}} !</p>
      <label for="in-sysname">Remote name:</label>
      <input class="form-control" id="in-sysname" placeholder="......" type="text" autofocus #input>
    </div>

    <button id="btnStart" class="btn btn-lg btn-primary btn-block" (click)="onStartRTC(input.value)">Start</button>
    <button id="btnDisconnect" class="btn btn-lg btn-primary btn-block" (click)="onDisconnect()"> Disconnect </button>
    
</form>